@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  background-color: #8b0000;
  font-weight: normal;
  font-family: Georgia, sans-serif;
  font-size: 100%;
  line-height: 1.3;
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

img {
  width: 100%;
}

img:first-child {
  position: absolute;
}

h1, p {
  margin: 0 0 1.3rem;
}

h1, h2 {
  font-family: Molle, cursive;
  color: #f9e4e4;
}

h1 {
  text-align: center;
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
  text-align: left;
}

ul {
  text-align: center;
  text-decoration: none;
}

li {
  font-family: Oswald, sans-serif;
  font-size: 1.5rem;
  display: inline;
}

a:hover {
  background-color: #fff8dc;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
}

* {
  margin: 1px;
  padding: 1px;
  box-sizing: inherit;
}

h3, h4, h5, h6 {
  text-align: center;
  font-size: 1.5rem;
  color: #f9e4e4;
  display: block;
}

img:last-child {
  position: relative;
}

@media only screen and (min-width: 25em) {

  html {
    font-size: 100%;
    line-height: 1.3;
  }

  img:nth-child(2) {
    width: 100%;
    display: block;
  }

  img:nth-child(3) {
    width: 100%;
    display: block;
  }

  img:nth-child(4) {
    width: 100%;
    float: left;
    display: block;
  }

  img:nth-child(5) {
    width: 100%;
    display: block;
  }

  img:last-child {
    width: 100%;
    display: block;
    padding: .5em;
  }
}

@media only screen and (min-width: 38em) {

  html {
    font-size: 110%;
    line-height: 1.4;
  }

  h1, p {
    margin: 0 0 1.4rem;
  }

  .candycontainer {
    float: left;
    width: 33.3333%;
    display: inline-block;
    text-align: center;
    padding: 2px;
  }
}

@media only screen and (min-width: 60em) {

  html {
    font-size: 120%;
    line-height: 1.5;
  }

  h1, p {
    margin: 0 0 1.5rem;
  }

  .candycontainer {
    float: left;
    width: 50%;
    display: inline-block;
    text-align: center;
    padding: 2px;
  }

  img:first-child {
    width: 100%;
    float: left;
    display: block;
  }

  section {
    text-align: center;
    display: block;
  }

  img:last-child {
    display: block;
    width: 100%;
  }

  footer {
    text-align: center;
    display: inline-block;
  }
}

@media only screen and (min-width: 90em) {

  html {
    font-size: 130%;
  }

  * {
    margin: 1px;
    padding: 1px;
  }

  img:first-child {
    width: 100%;
    display: block;
  }

  .candycontainer {
    width: 24%;
    display: inline-block;
    text-align: center;
  }

  h2, h3, h4, h5, h6 {
    text-align: center;
    font-size: 1.5rem;
    color: #f9e4e4;
    display: block;
  }

  section {
    text-align: center;
    display: block;
  }

  img:last-child {
    display: block;
    width: 100%;
  }

  footer {
    text-align: center;
    display: inline-block;
  }

  p {
    text-align: center;
    display: block;
    float: none;
  }
}
